<!-- Title -->
<title>
    <%= params.title %>
</title>

<!-- Header has imported from partials -->
<%- include('./Partials/header.ejs') %>

    <!-- Sidebar imported from partials -->
    <div class="absolute z-[1]">
        <%- include('./Partials/sidebar.ejs') %>
    </div>

    <div class="container-fluid h-screen w-full bg-black flex flex-col items-center">
        <form class="flex flex-col items-center" action="/createpost" method="post" enctype="multipart/form-data">
            <h1 class="text-4xl font-bold text-white my-15">Create Post</h1>
            <div class="border-white border-[1px] rounded-full h-[60px] w-[60px]">
                <i class="ri-image-line text-4xl text-white absolute mx-2 my-2"></i>
            </div>
            <input id="upload-file" type="file" name='image' hidden />
            <h1 id="select" class="cursor-pointer text-sky-600 font-semibold py-2">Select Post</h1>
            <textarea name="caption" id=""
                class="border-[1px] h-[80px] w-[380px] text-white border-white rounded-sm p-2 my-5"
                placeholder="Write Caption...."></textarea>
            <button class="rounded-lg text-white bg-sky-600 my-4 py-2 px-4 cursor-pointer w-[380px]">Upload
                Post</button>
        </form>
    </div>

    <!-- Footer has imported from partials -->
    <div class="absolute left-[20%] top-[80%]">
        <%- include('./Partials/footer.ejs') %>
    </div>


    <script>
        document.querySelector('#select').addEventListener('click', function () {
            document.querySelector('#upload-file').click();
        });
    </script>